#tabwindow {
    height: 100%;
    /* flex: 7; */
    width: 80%;
    display: flex;
    flex-direction: column;
    color: white;
}

#windowbar {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#unit-options {
    display: flex;
    padding: 15px;
}

#unit-options input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    flex: 1;
    font-size: 16px;
}

#unit-options i::before {
    position: absolute;
    display: flex;
    width: 28px;
    height: 28px;
    color: #ccc;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    font-size: 20px;
}

#unit-options button {
    margin-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: #0100d4;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#unit-options button:hover {
    background-color: #0100b1;
}

#unit-options button:focus {
    outline: none;
}

.property {
    background-color: #1500ed;
    margin: 5px;
    border-radius: 5px;
}

.property-pair {
    align-items: center;
    display: flex;
    padding: 5px;
}

.property-pair.emptyArray {
    padding-left: 25%;
    cursor: pointer;
}

.prop-name {
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.prop-name span {
    margin-right: 5px;
    transition: transform 0.3s;
}

.prop-name span.rotate {
    transform: rotate(90deg);
}

.prop-inputs {
    width: 75%;
    flex: none;
    display: flex;
}

.prop-inputs>div {
    display: flex;
    align-items: center;
    flex: 1;
}

.prop-inputs input[type="text"],
.prop-inputs input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    flex: 1;
    min-width: 0;
    font-size: 16px;
    width: 0;
}

.bool-input {
    background-color: #ff0076;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.bool-input.true {
    background-color: #3ac318;
}

.bool-input>span {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prop-inputs>div>span {
    font-weight: bold;
    margin: 0 3px;
}

.prop-inputs>div>span:first-child {
    margin-left: 0;
}

.prop-inputs>div>span:last-child {
    margin-right: 0;
}

div.prop-input-options {
    position: relative;
    flex: none;
    margin-left: 3px;
}

.prop-input-options>button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.prop-input-options-select {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #444;
    z-index: 1;
    border-radius: 10px 0 10px 10px;
    overflow: hidden;
}

.prop-input-options-select div {
    padding: 5px;
}

.prop-input-options>button:focus {
    outline: none;
}

.prop-input-options>button:focus~.prop-input-options-select {
    display: block;
}