body {
    font-family: arial;
    margin: 0;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

*::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

*::-webkit-scrollbar-thumb {
    background: #02adff;
    border: none;
    border-radius: 7px;
}

*::-webkit-scrollbar-track {
    background: #0049d1;
    border: none;
    border-radius: 10px;
}

#app {
    height: 100vh;
    transition: 1s;
}

#navbar {
    height: 50px;
    display: flex;
}

.tab {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px white solid;
    cursor: pointer;
}

.c1 {
    background-color: #d80000;
}

.c2 {
    background-color: #1917ff;
}

.panel {
    position: absolute;
    top: 50px;
    bottom: 0;
    transition: left ease-in-out 1s, right ease-in-out 1s, opacity 1s;
    display: flex;
}

#startpanel button {
    height: 30px;
}

.noselect {
    /* From https://stackoverflow.com/a/4407335 */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.hoverbox {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.hoverbox:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff30;
    z-index: 1;
}

#alert {
    position: absolute;
    right: 10px;
    bottom: -60px;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    transition: bottom 0.3s;
}

#alert span {
    margin-left: 5px;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay>div {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 50%;
}

#overlay span {
    margin: 0 0 8px 4px;
}

#overlay input, #overlay select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #bbb;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 25px;
}

#overlay .checkboxes {
    display: flex;
    flex-direction: column;
}

#overlay .checkboxes i {
    width: 16px;
    height: 16px;
    border: 2px solid #bbb;
    border-radius: 5px;
    margin: 5px;
    color: #fff;
}

#overlay .checkboxes i.check {
    background-color: #3ac318;
    border-color: #3ac318;
}

#overlay .infolist {
    margin-bottom: 16px;
}

#overlay .buttons {
    display: flex;
    justify-content: flex-end;
}

#overlay button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: navajowhite;
    padding: 5px;
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
    border-radius: 5px;
}

