#unitbrowser {
    height: 100%;
    /* flex: 2; */
    width: 20%;
    background-color: #0100b1;
    color: white;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#unit-search {
    display: flex;
    padding: 5px;
}

#unit-search input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    flex: 1;
    font-size: 12px;
    width: 0;
    cursor: pointer;
}

#unit-search i::before {
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    color: #ccc;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    font-size: 15px;
}

#unit-search-result {
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

#unit-search-result .unit-name {
    padding: 5px 10px;
}

.unit-cat {
    background-color: #0100d4;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.unit-cat-name {
    padding: 5px;
    display: flex;
    align-items: center;
}

.unit-cat-name span {
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    flex: none;
}

.unit-cat-name label {
    margin-left: 5px;
}

.unit-name {
    background-color: #0100f3;
    padding: 3px 10px;
}